<html>
    <body><br><br>
        <h1><i>NBA</i></h1>
        <p>he National Basketball Association (NBA) is a professional basketball league in North America. The league is composed of 30 teams (29 in the United States and 1 in Canada) and is one of the four major professional sports leagues in the United States and Canada. It is the premier men's professional basketball league in the world.[1]

            The league was founded in New York City on June 6, 1946, as the Basketball Association of America (BAA).[2] It changed its name to the National Basketball Association on August 3, 1949, after merging with the competing National Basketball League (NBL).[3] The NBA's regular season runs from October to April, with each team playing 82 games. The league's playoff tournament extends into June. As of 2020, NBA players are the world's best paid athletes by average annual salary per player.[4][5][6]
            
            The NBA is an active member of USA Basketball (USAB),[7] which is recognized by the FIBA (International Basketball Federation) as the national governing body for basketball in the United States. The league's several international as well as individual team offices are directed out of its head offices in Midtown Manhattan, while its NBA Entertainment and NBA TV studios are directed out of offices located in Secaucus, New Jersey.
            
            In North America, the NBA is the third wealthiest professional sport league after the National Football League (NFL) and Major League Baseball (MLB) by revenue, and among the top four in the world.[8]
            
            The Milwaukee Bucks are the reigning champions, having beaten the Phoenix Suns 4–2 in the 2021 Finals.</p>
        <img class="pic" src="https://e0.365dm.com/19/10/2048x1152/skysports-nba-sky-live-live-on-sky_4810101.jpg"><br><br>
        <h3> Most NBA championships won by a franchise</h3>
        Heading into each season, winning an NBA championship is the ultimate goal for every team.

Two franchises - the Boston Celtics and Los Angeles Lakers - have alone combined for 34 of the 74 championships in NBA history..

The Celtics' dynasty of the 1960s is considered to be among the greatest ever as they won eight straight and 11 titles total in 13 years (1957-1969). On the other hand, the Lakers' 17 titles - including their most recent 2020 championships - are more evenly spaced as they won four or more championships in a single decade three separate times.

Only three franchises have ever won three titles in a row - Boston Celtics (eight straight from 1959 to 1966), Chicago Bulls (twice), and Los Angeles Lakers (twice) 
<br><br>
<table class="center"  >
    <tr>
    <td>
        Teams
    </td>
    <td>
        Finals' appearances
    </td>
    <td>
        Championships
    </td>
    <td>
        Years won
    </td>
</tr>
<tr>
    <td>
        LA Lakers
    </td>
    <td>
        32
    </td>
    <td>
        17
    </td>
    <td>
        1949, 1950, 1952, 1953, 1954, 1972, 1980, 1982, 1985, 1987, 1988, 2000, 2001, 2002, 2009, 2010, 2020
</tr>
<tr>
    <td>
        Boston Celtics
    </td>
    <td>
        21
    </td>
    <td>
        17
    </td>
    <td>
        1957, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1968, 1969, 1974, 1976, 1981, 1984, 1986, 2008    </td>
</tr>
<tr>
    <td>
        Chicago Bulls	
    </td>
    <td>
        6
    </td>
    <td>
        6
    </td>
    <td>
        1991, 1992, 1993, 1996, 1997, 1998
    </tr>
<tr>
    <td>
        Philadelphia/San Francisco/Golden State Warriors	
    </td>
    <td>
        10
    </td>
    <td>
        6
    </td>
    <td>
        1947, 1956, 1975, 2015, 2017, 2018
    </tr>
<tr>
    <td>
        San Antonio Spurs
    </td>
    <td>
        6
    </td>
    <td>
        5
    </td>
    <td>
        1999, 2003, 2005, 2007, 2014
    </tr>
<tr>
    <td>
        Syracuse Nationals/Philadelphia 76ers
    </td>
    <td>
        9
    </td>
    <td>
        3
    </td>
    <td>
        1955, 1967, 1983
    </tr>
<tr>
    <td>
        Fort Wayne/Detroit Pistons	
    </td>
    <td>
        7
    </td>
    <td>
        3
    </td>
    <td>
        1989, 1990, 2004
    </tr>
<tr>
    <td>
        Miami Heat	    </td>
    <td>
        5
    </td>
    <td>
        3
    </td>
    <td>
        2006, 2012, 2013
    </tr>
<tr>
    <td>
        Houston Rockets	    </td>
    <td>
        4
    </td>
    <td>
        2
    </td>
    <td>
        1994, 1995
    </tr>
<tr>
    <td>
        New York Knicks	    </td>
    <td>
        8
    </td>
    <td>
        2
    </td>
    <td>
        1970, 1973
    </tr>
    <tr>
    <td>
        Milwaukee Bucks	   </td>
    <td>
        3
    </td>
    <td>
        2
    </td>
    <td>
        1971, 2021
    </tr>

</table><br>
if you want to see more about these teams and their current players, quickly click on the <a routerLink="/tabela" routerLinkActive="active" router>link</a>

    </body>
</html>