
.logo-image{
    width: 70px;
    height: 70px;
    border-radius: 70%;
    overflow: hidden;
    margin-top: 6px;
}
.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
  }
  .navbar-nav li a:hover {
    color: #dd5771;
}


body {background-color: coral;}
