<body><br>
<div class="container">
  <h1><pre>                     Registration</pre>
  </h1>
  <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
    <div>
      <p class="label-txt">ENTER YOUR ID</p>     
           <input type="number" class="form-control" id="idKorisnik" required #idKorisnik="ngModel" name="idKorisnik" [(ngModel)]="korisnik.idKorisnik">
    </div>
    <div class="err" *ngIf="idKorisnik.invalid ">
         Id field is required
    </div>
    <br>
    <div class="line-box">
      <div class="line"></div>
    </div>
      <div>
        <p class="label-txt">ENTER YOUR NAME</p>     
             <input type="text" class="form-control" id="imeKorisnika" required #imeKorisnika="ngModel" name="imeKorisnika" [(ngModel)]="korisnik.imeKorisnika">
      </div>
      <div class="err" *ngIf="imeKorisnika.invalid ">
           Name field is required
      </div>
      <div class="line-box">
        <div class="line"></div>
      </div>
      <br>
      <div>
        <p class="label-txt">ENTER YOUR EMAIl</p>     
             <input type="text" class="form-control" id="email" required #email="ngModel" name="email"
              [(ngModel)]="korisnik.email">
      </div>
      <div class="err" *ngIf="email.invalid">
          Email field is required
          
     </div>
     <div class="line-box">
      <div class="line"></div>
    </div>
    <br>
      <div>
        <p class="label-txt">ENTER YOUR PASSWORD</p>    
              <input type="password" class="form-control" id="sifra" required #sifra="ngModel" name="sifra" 
              [(ngModel)]="korisnik.sifra">

      </div>
      <div class="err" *ngIf="sifra.invalid ">
          Password field is required

     </div>
     <div class="line-box">
      <div class="line"></div>
    </div>
    <br>
      <div class="col-12">
          <button style="margin-top: 2%;" class="btn btn-primary" type="submit">Register</button>
      </div>
  </form>
</div><pre>








</pre>
</body>